[Desktop Entry]
Version=1.0
Type=Link
Name=Conventional Commits
Comment=
Icon=user-bookmarks
URL=https://www.conventionalcommits.org/en/v1.0.0/#summary
