[Desktop Entry]
Version=1.0
Type=Link
Name=CSS Cheat Sheet - Interactive, not a PDF | HTMLCheatSheet.com
Comment=
Icon=user-bookmarks
URL=https://htmlcheatsheet.com/css/
