html{
    font-size:16px;
}
body{
    display:flex;
    justify-content: center;
    margin-top: 10vh;
}
.box{
    width: calc(15vw + 8rem);
    height: calc(10vh + 8rem);
    font-size: 2rem;
    display: flex;
    align-items: center;
    border:.5rem solid rgba(0, 0, 255, 0.596);
    border-radius: 10rem 5%/2rem 7%;
    outline:.25rem rgba(229, 255, 0, 0.418) dashed;
    box-shadow: inset 0 3em 3em rgba(54, 180, 54, 0.452), 
            2.5em 1.5em 3em rgba(3, 7, 255, 0.541);
            /* first value is left or right shadow. right is positive. */
            /* Second value is for if shadow goes up or down. negative is up */
           /* last value references how gradually color blends */
}
p{
    margin: 4rem;
}