[Desktop Entry]
Version=1.0
Type=Link
Name=Output Management | webpack
Comment=
Icon=user-bookmarks
URL=https://webpack.js.org/guides/output-management/
