[Desktop Entry]
Version=1.0
Type=Link
Name=CSS value functions - CSS: Cascading Style Sheets | MDN
Comment=
Icon=user-bookmarks
URL=https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Functions
