[Desktop Entry]
Version=1.0
Type=Link
Name=styling_searchBars_radioButtons | MDN
Comment=
Icon=user-bookmarks
URL=https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling
