[Desktop Entry]
Version=1.0
Type=Link
Name=About Queries | Testing Library
Comment=
Icon=user-bookmarks
URL=https://testing-library.com/docs/queries/about/
