[Desktop Entry]
Version=1.0
Type=Link
Name=Vitest with React Testing Library
Comment=
Icon=user-bookmarks
URL=https://www.robinwieruch.de/vitest-react-testing-library/
