[Desktop Entry]
Version=1.0
Type=Link
Name=differentHTMLWebpackOptions
Comment=
Icon=user-bookmarks
URL=https://github.com/jantimon/html-webpack-plugin#options
