[Desktop Entry]
Version=1.0
Type=Link
Name=Asset Management | webpack
Comment=
Icon=user-bookmarks
URL=https://webpack.js.org/guides/asset-management/
